<h1>Editing friend</h1>

<%= render "form", friendd: @friendd %>

<br/>

<div>
  <%= link_to "Show", @friendd, class:"btn btn-dark" %> 
  <%= link_to "Back", friendds_path, class:"btn btn-dark" %>
</div>
